/* .body{
 background-image: url(https://wallpapercave.com/wp/CToGD7f.jpg);
} */
.app {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
 
}

.gridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  flex-wrap: wrap;
  flex-direction: column;
  margin: 3vh 3vw;
  width: 15vw;
  height: 15vw;
  box-shadow: 3px 3px 3px rgb(169, 169, 169);
  border-radius: 3px;
  border: 0.1px solid rgb(155, 155, 155);
}

.image:hover {
  filter: brightness(1.25);
  size: 110%;
  transform: scale(110%);
}

.modal {
  position: fixed;
  left: 25%;
  bottom: 8%;
  transform: translate(-25, 25%);
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 999;
}
.modal-cont {
  height: 80vh;
  width: 50vw;
  font-weight: bold;
  background-color: rgb(239, 245, 255, 0.95);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ul {
  list-style: none;
  background-color: rgb(239, 245, 255, 0.95);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
}

li {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5%;
  width: 35vw;
  flex-shrink: 5;
}
/* .moe {
  font-size: 20px;
} */
.Delete {
  font-size: large;

  background-color: black;
  color: white;
  text-align: center;
 
}

.title {
  color: aliceblue;
}

.nav {
  background-color: rgb(0, 0, 0);
  font-size: x-large;
  display: flex;
  justify-content: space-around;
}
a {
  color: white;
}
.create{
  text-align: center;
  color: burlywood;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.create-form{
 display:flex;
 flex-direction: column;
}
